h1 {
	margin-left : 450px;
}
ul {
	margin-left : 400px;
}

.add_form {
	margin-top : 50px;
	margin-left : 600px;
}

.button {
	margin-top : 20px;
	margin-left : 100px;
}

.index_button {
	margin-top : 10px;
	margin-left : 400px;
}

.complete {
	color: red;
}

.list_form {
	margin-top : 50px;
}